<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kom.zestaw2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="zestaw_zadan_znadroid"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Obrazek">       </activity>
        <activity  android:name=".Quiz">         </activity>
        <activity android:name=".QuizStart">     </activity>
        <activity android:name=".Zadanie2">     </activity>
        <activity android:name=".Zadanie5">     </activity>
        <activity android:name=".Zadanie5Telefony">     </activity>
        <activity android:name=".Zadanie6">       </activity>
        <activity android:name=".Zadanie7">       </activity>
        <activity android:name=".BazyDanych">       </activity>
    </application>

</manifest>